<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps Starter Project</title>
    <meta
      name="description"
      content="Author: Andrian Author,
    Illustrator: P. Dicoding, Category: Restaurant"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="icon" href="icons-hamburger-96.png" />
    <link rel="apple-touch-icon" href="icons-hamburger-96.png" />
  </head>
  <body>
    <header class="app-bar">
      <a href="#main-content" class="skip-link">skip content</a>
      <div class="hamburger-container">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>ADR-Restaurant</h1>
      </div>
      <nav class="nav">
        <ul>
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favourite</a></li>
          <li class="nav-item">
            <a href="https://github.com/Andrian17" target="_blank">About Me</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="capt-container">
        <p class="cap1">
          Ingin makan enak tapi mahal.? Ingin makan sehat tapi mahal.? Kunjungi
          beberapa tempat makan dibawah.!
        </p>
        <p class="cap2">
          Hidup itu harus realistis. Makan Enak Gak Harus Mahal.
        </p>
      </div>
    </div>
    <main></main>
    <footer>
      <h5>
        Created with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart"
          viewBox="0 0 16 16"
        >
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
          />
        </svg>
        by Andrian
      </h5>
    </footer>
  </body>
</html>
